@media (max-width:1042px){
    .action_order{
        max-width: 100%;
    }
}
@media (max-width:882px){
    .header_bottom{
        margin-top:2rem ;
    }
    .fixed_box_Delivery{
        top:-2rem;
        left: -10rem;
    }
}


@media (max-width:834px){

    .navigation{
        grid-template-columns: repeat(3,auto);
    }

    .content_left_header_bottom h1{
        font-size: 34px;
        line-height: 42px;
    }

    .order_food{
        margin-top: 2rem;
    }

    .action_order > button {
        padding: 16px;
        font-size: 14px;
    }

    .action_order{
        justify-content: flex-start;
        gap: 1.5rem;
    }

    .fixed_box_Delivery{
        padding: 6px;
        top: -1rem;
        left: -5rem;
    }

    .fixed_box_Delivery div span{
        font-size: 19px;
    }

    .button_action_order{
        max-width: 45%;
        padding: 5px 10px;
        gap: 2px;
    }

    .navigation > ul{
        display: none;
    }

    .link_navigation{
        justify-self: center ;
    }

    .menu_icon{
        justify-self: flex-end;
    }
}


@media (min-width:835px){
    .menu_icon{
        display: none;
    }
}

@media (max-width:676px){
    .header_bottom{
        grid-template-columns: repeat(1,1fr);
    }


    .content_left_header_bottom{
        width: 100%;
        text-align: center;
    }

    .content_left_header_bottom p{
        max-width: 100%;
        margin: 1.5rem 0;
    }

    .order_food_desktop{
        display: none;
    }

    .order_food_mobile{
        margin-top: 3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .fixed_box_Delivery{
        position: static;
        width: 30%;
    }

    .action_order > button{
        padding: 9px;
    }

    .action_order > button svg{
        font-size: 19px;
        margin-top: -2px;
    }

}


@media (min-width:677px){
    .order_food_mobile{
        display: none;
    }

}