*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: poppins;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}


@font-face {
    font-family: poppins;
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/poppins/poppins-bold-webfont.woff') format('woff');
}
@font-face {
    font-family: poppins;
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/poppins/poppins-bold-webfont.woff') format('woff');
}
@font-face {
    font-family: poppins;
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/poppins/poppins-medium-webfont.woff') format('woff');
}
@font-face {
    font-family: poppins;
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/poppins/poppins-semibold-webfont.woff') format('woff');
}
@font-face {
    font-family: poppins;
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/poppins/poppins-regular-webfont.woff') format('woff');
}
@font-face {
    font-family: poppins;
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/poppins/poppins-light-webfont.woff') format('woff');
}


:root{
    --color_fff:#fff;
    --color_c90000:#C90000;
    --color_7D7C7C:#7D7C7C;
    --color_504F4F:#504F4F;
    --color_323232:#323232;
    --color_FFC300:#FFC300;
    --color_FFF6A3:#FFF6A3;
    --color_E3E3E3:#E3E3E3;
    --color_F1F1F1:#F1F1F1;
    --color_rgb_241:rgba(241, 241, 241, 0.70);
    --color_rgb_241-040:rgba(241, 241, 241, 0.40);
    --color_rgb_112_144_146:rgba(112, 144, 176, 0.20)
}
img{
    width: 100% ;
}

.text_danger{
    color: var(--color_c90000);
}

.main_header{
    margin-top: 1rem;
}
.container_site{
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 0.5rem;
}

.navigation{
    display: grid;
    grid-template-columns: 58px 635px 187px;
    justify-content: space-around;
    align-items: center;
     
}

.navigation ul{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2.5rem;
}
    
.navigation ul li:first-child a{
    color: var(--color_c90000 ) ;
    font-weight: 600;
}   

.navigation ul li:not(:first-child) a{
    color: var(--color_7D7C7C);
    font-weight: 500;
}

.navigation ul li a {
    font-weight: 500;
}

.link_navigation a{
    padding: 9px 16px;
    border: 1px solid var(--color_c90000);
    font-size: 16px;
    border-radius: 100px;
}

.link_navigation a:first-child{
    color: var(--color_c90000);
    font-weight: 400;
}

.link_navigation a:last-child{
    background-color: var(--color_c90000);
    color: var(--color_fff);
    font-weight: 500;
}

#close_icon{
    display: none;  
    color: var(--color_504F4F);  
}

.nav_menu_sidebar{
    background-color: var(--color_fff);
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    height: 100%;
    padding: 1rem;
    width: 200px;
    border-right: 2px solid var(--color_504F4F);
    transform: translateX(-384px);
    transition: all 27 0ms ease-out ;
}

#input_menu:checked ~ ul{
    transform: translateX(0);
}

#input_menu:checked + label svg:first-child{
    display: none;
}

#input_menu:checked + label #close_icon{
    display: block;
}

.header_bottom{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
}

.content_right_header_bottom{
    position: relative;
}

.fixed_box_delivery{
    position: absolute;
    text-align: center;
    top: 5rem;
    left: -6rem;
    border-radius: 50px 50px 0 50px;
    border: 1px solid var(--color_F1F1F1);
    background-color: var(--color_rgb_241-040);
    padding: 12px;
}

.fixed_box_delivery div{
    display: flex;
    align-items: center;
}

.fixed_box_delivery div span{
    color: var(--color_323232);
    font-size: 24px;
    font-weight: 400;
    margin-left: 5px;
}

.fixed_box_delivery > span{
    color: var(--color_7D7C7C);
    font-size: 16px;
    font-weight: 400;
}

.content_left_header_bottom{
    align-self: center;
    width: 86%;
}

.content_left_header_bottom h1{
    color: var(--color_c90000);
    font-size: 48px;
    font-weight: 600;
    line-height: 76px;
}
 
.content_left_header_bottom p{
    color: var(--color_504F4F);
    font-size: 16px;
    font-weight: 400;
    line-height: 20px; 
    max-width: 77%;
}

.order_food{
    margin-top: 3rem;
}

.text_price_order_food{
    color: var(--color_323232);
    margin-bottom: 1rem;
 }

.text_price_order_food span:first-child{
    font-size: 16px;
    font-weight: 300;
}

.text_price_order_food span:last-child{
    font-size: 24px;
    font-weight: 500;
}

.action_order{
    display: flex;
    justify-content: space-between;
    max-width: 79%;
}

.button_action_order{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--color_rgb_241);
    background-color: var(--color_fff); 
    border-radius: 100px;
    padding: 8px 16px; 
    box-shadow:0 10px 17px 0 var(--color_rgb_112_144_146);
    max-width : 41%;
    gap: 12px;
}

.button_action_order button{
    background-color: transparent;
    border: none;
}

.button_action_order span{
    color: var(--color_FFC300);
    font-size: 20px;
    font-weight: 500;
}

.button_action_order span::after , .button_action_order span::before{
    content: '';
    display: inline-block;
    width: 1px;
    height: 22px;
    background-color: var(--color_rgb_241);
}

.button_action_order span::after{
    margin-left: 12px;
}


.button_action_order span::before{
    margin-right: 12px;
}

.action_order > button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color_FFC300);
    box-shadow: 0 20px 20px 0 var(--color_rgb_241);
    border: none;
    border-radius: 100px;
    padding: 16px 24px;
    color: var(--color_323232);
    font-size: 20px;
    font-weight: 600;
}

.action_order > button svg{
    margin-right: 5px;
    margin-top: -3px; 
}
